@use "/src/theme";

.summary-card {
  width: 100%;
  height: 160px;
  padding: 20px 30px 0;
  background: theme.$white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  p {
    margin: 0;
  }

  .all-user {
    margin-bottom: 14px;
  }

  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: theme.$sec-text-color;
  }

  .count {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: theme.$pry-text-color;
  }
}
