@use "src/theme";

.btn {
  background: theme.$sec-color;
  color: theme.$white;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 14px;
  font-family: "Avenir Next Bold";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}
