@use "src/theme";

.textfield-container {
  display: flex;
  width: 100%;
  position: relative;
  margin-bottom: 24px;

  .textfield {
    height: 50px;
    width: 100%;
    font-family: "Avenir Next";
    box-sizing: border-box;
    background: theme.$white;
    border: 2px solid rgba(84, 95, 125, 0.15);
    border-radius: 5px;
    padding-left: 16px;
    line-height: 19px;
  }

  input.textfield::placeholder {
    font-family: "Avenir Next";
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: theme.$sec-text-color;
    opacity: 0.6;
  }

  .input-option {
    position: absolute;
    right: 15px;
    font-family: "Avenir Next Bold";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    height: 100%;
    color: theme.$sec-color;
    cursor: pointer;
  }
}
