@use "/src/theme";

.dashboard-frame {
  font-family: "Work Sans", sans-serif;
  height: 100vh;

  .body {
    display: flex;
    background-color: theme.$body-bg-color;

    .content {
      padding: 60px;
      width: 80%;
      height: calc(100vh - 223px);
      overflow: auto;
    }
  }
}
