@use "/src/theme";

.user-details {
  .back {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 32px;
    cursor: pointer;

    p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: theme.$sec-text-color;
    }
  }

  .page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media screen and (max-width: 650px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }

    h3 {
      margin: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: theme.$pry-text-color;
    }

    .heading-buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 650px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .user-details-summary-container {
    background: theme.$white;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px 30px 0 30px;
    margin-bottom: 30px;

    .user-details-summary {
      display: flex;
      margin-bottom: 51px;

      @media screen and (max-width: 650px) {
        display: grid;
        grid-column: 1fr;
        gap: 20px;
      }

      .avatar-container {
        display: flex;
        align-items: center;
        padding-right: 30px;
        border-right: solid 1px rgba(84, 95, 125, 0.2);
        gap: 20px;

        @media screen and (max-width: 650px) {
          border-right: none;
          border-bottom: solid 1px rgba(84, 95, 125, 0.2);
          padding-right: 0;
          padding-bottom: 30px;
        }

        .avatar {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }

        .user-name {
          p {
            margin: 0;
          }
          .name {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: theme.$pry-text-color;
            margin-bottom: 8px;
          }

          .sub-name-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: theme.$sec-text-color;
          }
        }
      }

      .user-tier {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: solid 1px rgba(84, 95, 125, 0.2);
        gap: 11px;

        @media screen and (max-width: 650px) {
          border-right: none;
          border-bottom: solid 1px rgba(84, 95, 125, 0.2);
          padding: 0 0 30px;
          align-items: flex-start;
        }

        &-text {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: theme.$sec-text-color;
        }

        .tier-container {
          display: flex;

          .tier {
            display: flex;
            align-items: center;
            gap: 6px;
          }
        }
      }

      .bank-summary-container {
        padding-left: 30px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 650px) {
          padding-left: 0;
          border-bottom: solid 1px rgba(84, 95, 125, 0.2);
          padding-bottom: 30px;
        }

        .bank-summary {
          display: flex;
          flex-direction: column;
          gap: 12px;
          .loan {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: theme.$pry-text-color;
          }

          .bank {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: theme.$pry-text-color;
          }
        }
      }
    }

    .tab {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 750px) {
        flex-wrap: wrap;
        row-gap: 20px;
      }

      .tab-item-container {
        padding: 0 20px 10px 20px;

        cursor: pointer;

        .tab-item {
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .active {
        border-bottom: solid 2px theme.$sec-color;

        .tab-item {
          color: theme.$sec-color;
        }
      }

      p {
        margin: 0;
      }
    }
  }

  .user-general-details {
    background: theme.$white;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 30px;

    h4 {
      margin: 0;
    }

    .section-container {
      .section-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: theme.$pry-text-color;
        margin-bottom: 30px;
      }

      .cols {
        display: grid;
        row-gap: 30px;
        column-gap: 20px;

        &.cols-5 {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

          @media screen and (max-width: 750px) {
            grid-template-columns: 1fr 1fr;
          }

          @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
          }
        }

        &.cols-4 {
          grid-template-columns: 1fr 1fr 1fr 1fr;

          @media screen and (max-width: 750px) {
            grid-template-columns: 1fr 1fr;
          }

          @media screen and (max-width: 500px) {
            grid-template-columns: 1fr;
          }
        }

        .detail-container {
          p {
            margin: 0;
          }
          .detail-title {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            text-transform: uppercase;
            color: theme.$sec-text-color;
            margin-bottom: 8px;
          }

          .detail {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: theme.$sec-text-color;
          }
        }
      }
    }

    .separator {
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      padding-bottom: 28px;
      margin-bottom: 30px;
    }
  }
}
