@use "/src/theme";

.container {
  width: 20%;
  height: calc(100vh - 100px);
  background: theme.$white;
  padding-left: 30px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);

  .sidebar {
    height: calc(100vh - 160px);
    overflow: auto;
    margin-left: -30px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .org-switch {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 42px;
      padding: 39px 10px 0 30px;
      &-text {
        color: theme.$pry-text-color;
        font-size: 16px;
        margin: 0;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 40px;
      margin-bottom: 10px;
      padding-left: 30px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: rgba(57, 205, 204, 0.06);
        border-left: solid 3px theme.$sec-color;
        padding-left: 27px;
      }

      &-collection {
        margin-bottom: 31px;
      }

      &-heading {
        color: theme.$sec-text-color;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-left: 30px;
        margin-top: 0;
      }

      &-text {
        color: theme.$pry-text-color;
        font-size: 16px;
        opacity: 0.6;
      }
    }
  }

  .sidebar-footer {
    margin-left: -30px;
    padding: 10px 0;
    border-top: solid 1px rgba(33, 63, 125, 0.1);
    .sidebar-item {
      display: flex;
      align-items: center;
      gap: 10px;
      height: 40px;
      margin-bottom: 0;
      padding-left: 30px;
      cursor: pointer;

      &:hover {
        background-color: rgba(57, 205, 204, 0.06);
        border-left: solid 3px theme.$sec-color;
        // margin-left: -30px;
        padding-left: 27px;
      }
    }
  }
}
